.table-view {
    -fx-background-color: #102636;
    -fx-control-inner-background: #102636;
    -fx-text-background-color: white;
}

.table-view .column-header {
    -fx-background-color: #1A354D;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #102636;
}

.table-row-cell:selected {
    -fx-background-color: #18D4F4;
}
